// ----------------------------------------------------------------------------------------------------
// # Common Layout 
// # 레이아웃과 관련된 공통적인 스타일을 구성하는 곳
// @ usage : none
// ----------------------------------------------------------------------------------------------------

// ## REM 사용을 위한 Layout 구성
html{
  font-size:$root-em;
}

// ## Viewport
#viewport{
  position:relative;  
  width:100%;
  margin:0 auto;
  .inner{
    position:relative;
  }
}

// ## Clearboth (gt IE7)
.cfx{
  zoom : 1;
}

.cfx:after{
  display:block;
  content:'';
  clear:both;
}

// ## 1x1 spacer.png
.spacer{
  width:100%;
  height:100%;
}