// ----------------------------------------------------------------------------------------------------
// # Button Component
// # 버튼에 대한 스타일 정의 (기능적인 요소 및 시각적인 요소 모두!)
// ----------------------------------------------------------------------------------------------------

// ## Scroll to Top
.btn-scroll-top{
  position:fixed;
  bottom:rem(20px);
  right:rem(20px);
  z-index:1000;
}

[role="button"]{
  cursor:pointer;
}