// ----------------------------------------------------------------------------------------------------
// # Button Component
// # 버튼에 대한 스타일 정의 (기능적인 요소 및 시각적인 요소 모두!)
// ----------------------------------------------------------------------------------------------------

// ## Scroll to Top
.btn-scroll-top {
  position: absolute;
  right: 0;
  z-index: 500;
  display: none; 
  &__elem {
      position: fixed;
      width: 12.8125%;
      right:3%;
      bottom: 3.59375%; 
  }
}

[role="button"]{
  cursor:pointer;
}