// ----------------------------------------------------------------------------------------------------
// # Extends
// # 자주 사용되는 스타일에 대한 @extend 값을 구성
// @ usage : @extend %name
// ----------------------------------------------------------------------------------------------------

%clearfix {
  @include clearfix;
}

%hide-checkbox{
  @include hide-checkbox;
}

%center-block{
  @include center-block;
}

%transparent{
  @include transparent;
}

%no-margin{
	margin:0;
	padding:0;
}

%list-style-none{
	list-style:none;
	@extend %no-margin;
}
