// ----------------------------------------------------------------------------------------------------
// # Variables
// # Sass에서 사용 될 수 있는 모든 변수들을 정의 (색상과 관련 된 변수는 별도로 분류 후 theme/default 에 포함 시키기)
// ----------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------
// 전역 변수
// ## 레이아웃 (구조)
// ----------------------------------------------------------------------------------------------------
$viewport-array: ('670px', '639px', '600px', '480px', '414px', '400px', '360px', '320px');
$viewport-landscape-array: ( '1024px', '962px', '736px', '683px', '670px', '667px', '640px', '637px', '598px', '568px', '480px' , '414px', '400px', '360px', '320px');

//----------------------------------------------------------------------------------------------------
// ## 색상
//----------------------------------------------------------------------------------------------------
$body-bg-color: #FFF;
$viewport-bg-color	: #FFF;

//----------------------------------------------------------------------------------------------------
// ##폰트
//----------------------------------------------------------------------------------------------------
$font-color: #555;
$font-sets: 13px/150% Arial, 'Nanum Gothic', 'Open Sans', 'Malgun Gothic',  Helvetica, sans-serif;
